{
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')\"",
    "git add ./packages/cpf-utils/README.md"
  ],
  "./packages/cpf-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}
